# Dependencies
node_modules/
frontend/node_modules/

# Environment variables
.env

# sample demo 
# NODE_ENV=development
# PORT=5000
# MONGODB_URI=mongodb+srv://dhkkiran_db_user:LuxXI39qbzkBH6wf@superiocluster.bp0zfiz.mongodb.net/expense-tracker
# CLIENT_URL=https://noc8w0s04o0ggw4skkocoss4.31.97.207.203.sslip.io/